---
import "../styles/global.css";

import Paginator from "../Pagination/Paginator";
import Page1 from "../Pagination/page1.astro";
import Page2 from "../Pagination/page2.astro";
import Page3 from "../Pagination/page3.astro";
import Page4 from "../Pagination/page4.astro";
import Page5 from "../Pagination/page5.astro";
import Page6 from "../Pagination/page6.astro";

---

    <div
      class="relative flex flex-col items-center h-auto gap-8 p-4 text-black bg-white lg:text-2xl dark:text-white dark:bg-neutral-900"
      id="second-section"
    >
      <div
        class="m-auto w-full grid grid-cols-1 gap-4 max-w-[80rem] transition-all duration-1000 ease-in"

      >
        <h1 class="text-2xl font-bold text-center md:text-4xl">Tecnologías que domino y sigo perfeccionando</h1>

        <h3 class="m-auto text-base text-center md:text-2xl max-w-[40rem]">
          Mi experiencia y enfoque trabajando con Front-end, Back-end, bases de datos, herramientas, prácticas de desarrollo y tecnologías que actualmente estoy aprendiendo.
        </h3>

        <Paginator pages={[Page1, Page2, Page3, Page4, Page5, Page6]} client:load />
      </div>
    </div>
