---
import "../../styles/global.css";

import Paginator from "../Pagination/Paginator";
/*../../assets/svg/Folder
import Folder from "../../assets/svg/Folder.astro";
import File from "../../assets/svg/File";
---

<div
  class="flex flex-col items-center justify-between w-full border-t border-gray-500 bg-slate-100 dark:bg-slate-950"
>
  <button
    class="flex flex-row items-center justify-between w-full gap-2 p-2 transition-all duration-700 ease-out bg-transparent cursor-pointer cursor hover:bg-slate-300 dark:hover:bg-slate-800"
  >
    <div class="flex gap-2">
      <Folder />
      <h1 class="">Sobre Mí</h1>
    </div>

    <div class="flex">
      <h1 class="text-gray-500">First Commit</h1>
    </div>

    <div class="flex">
      <h1 class="text-gray-500">1 Day ago</h1>
    </div>
  </button>

  <button
    class="flex flex-row items-center justify-between w-full gap-2 p-2 transition-all duration-700 ease-out bg-transparent border-t border-gray-500 cursor-pointer cursor hover:bg-slate-300 dark:hover:bg-slate-800"
  >
    <div class="flex gap-2">
      <Folder />
      <h1 class="">Tecnologias</h1>
    </div>

    <div class="flex">
      <h1 class="text-gray-500">First Commit</h1>
    </div>

    <div class="flex">
      <h1 class="text-gray-500">1 Day ago</h1>
    </div>
  </button>

  <button
    class="flex flex-row items-center justify-between w-full gap-2 p-2 transition-all duration-700 ease-out bg-transparent border-t border-gray-500 cursor-pointer cursor hover:bg-slate-300 dark:hover:bg-slate-800"
  >
    <div class="flex gap-2">
      <Folder />
      <h1 class="">Proyectos</h1>
    </div>

    <div class="flex">
      <h1 class="text-gray-500">First Commit</h1>
    </div>

    <div class="flex">
      <h1 class="text-gray-500">1 Day ago</h1>
    </div>
  </button>

  <!--Decoracion Puro contenido estatico -->
  <div
    class="flex flex-row items-center justify-between w-full gap-2 p-2 bg-transparent border-t border-gray-500"
  >
    <div class="flex gap-2">
      <File />
      <h1 class="">.gitignore</h1>
    </div>

    <div class="flex">
      <h1 class="text-gray-500">First Commit</h1>
    </div>

    <div class="flex">
      <h1 class="text-gray-500">1 Day ago</h1>
    </div>
  </div>

  <div
    class="flex flex-row items-center justify-between w-full gap-2 p-2 bg-transparent border-t border-gray-500"
  >
    <div class="flex gap-2">
      <File />
      <h1 class="">README.md</h1>
    </div>

    <div class="flex">
      <h1 class="text-gray-500">First Commit</h1>
    </div>

    <div class="flex">
      <h1 class="text-gray-500">1 Day ago</h1>
    </div>
  </div>

</div>
*/