---
import "../styles/global.css";

import Projects from "./Projects";
---


    <div
      class="relative flex flex-col items-center h-auto gap-8 p-4 text-black bg-white 2xl:text-2xl dark:text-white dark:bg-neutral-900"
      id="second-section"
    >
      <Projects client:load />
    </div>
