---
import "../styles/global.css";
import NavBar from "../layout/Navbar";
import Header from "../layout/Header";
import Footer from "../layout/Footer";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image" href="/img/Logo.webp"/>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Fercode</title>
  </head>
  <body class="text-black dark:text-white bg-slate-100 dark:bg-gray-950">
     
      <main class="flex flex-col flex-1 w-full min-h-screen">

       <Header client:load />

        <div class="flex items-center justify-center flex-1">
          <section
            class="flex flex-col items-center gap-4 w-full max-w-[50rem] p-4"
          >

          </section>
        </div>
      </main>

  </body>
</html>
