html {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .columnHeader {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      justify-content: start; 
    }


    .ImageLogo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem 1rem 2rem 1rem;

      img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: auto;
      }

      // Estilo para tablet
      @include tablet {
        justify-content: start; // Alinea a la izquierda en tablet
        align-items: start;
      }
    }

    .mobile-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1.5rem;
      cursor: pointer;
      filter: invert(100%);

      @include tablet {
        display: none;
      }

      img {
        width: 5rem;
        height: auto;
      }
    }

    .navegacion {
      top: 16rem;
      left: 0;
      width: 100%;
      text-align: center;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: max-height 1s ease, opacity 1s ease;
      z-index: 1000;

      a {
        display: block;
        justify-content: center;
        font-size: 1rem;
        color: $Blue;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-decoration: none;
        padding: 0.1rem;
        margin-top: 0.5rem;
        transition: transform 1s;

        &:hover {
          transform: scale(1.1);
          color: $BlackBlue;
        }

        @include tablet {
          justify-content: center;
          font-size: 1.5rem;
          padding: 0.5rem;
        }

        @include laptop {
          font-size: 2rem;
        }

        @include desktop {
          font-size: 2.5rem;
        }
      }

      &.mostrar {
        max-height: 15rem;
        opacity: 1;
      }

      @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-height: none;
        opacity: 1;
        grid-column: span 2;
      }
    }
  }
}
