.StagesPager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TabsPaginator {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  color: $blanco;

  @include laptop {
    grid-template-columns: repeat(6, 1fr);
  }

  button {
    background-color: transparent;
    border: $LightGrey solid 2px;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    position: relative;
    cursor: pointer;
    transition: 1s all;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 2rem;
      height: 2rem;
      background-color: $LightGrey;
      border-radius: 100%;
      transition: background-color 1s;
    }

    &:hover {
      border-color: darken($LightGrey, 10%);

      &::before {
        background-color: darken($LightGrey, 10%);
      }
    }

    &.CurrentMenu {
      border: $Coral solid 2px;
      &::before {
        background-color: $Coral; /* Color del punto interno */
      }
    }
  }
}

.seccionMenu {
  display: none;
  h2 {
    text-align: start;
    color: #000;
    font-size: 4rem;
    font-weight: bold;
    margin: 0 1rem;
    font-family: Arial, Helvetica, sans-serif;
    @include laptop {
      font-size: 7rem;
    }
  }
  p {
    text-align: start;
    color: gray;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 1rem;
    @include laptop {
      font-size: 3rem;
    }
  }
}

.ShowMenu {
  display: block; /* Mostrar cuando tenga la clase Show */
}

//ANUNCIO

@include tablet {
  .contenedor-anuncios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@include laptop {
  .contenedor-anuncios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.anuncio {
  background-color: transparent;
  border: 5px solid gray;
  margin: 1rem;

  img {
    width: 100%;
    height: 20rem;
    margin: 0;
    background-color: gray;
  }
  .contenido-anuncio {
    padding: 0.5rem;
  }

  h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: bold;
    margin: 1rem 0;
    font-size: 2rem;
    @include laptop {
      font-size: 3rem;
    }
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    margin: 1rem 0;
    @include laptop {
      font-size: 1.5rem;
    }
  }

  .Buttom-Precio {
    background-color: $Orange;
    color: #000;
    font-size: 2.5rem;
    font-family: $Fuente_Principal, Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0.5rem;
    border: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    transition: 1s;
    cursor: pointer;

    &:hover {
      background-color: darken($Orange, 10%);
      border-radius: 2vh;
    }
  }
}
