.Projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    color: $Blue;
    font-size: 3rem;
    font-weight: bold;
    font-family: $Fuente_Principal;
    margin: 1rem 0 0 0;

    @include laptop {
      font-size: 8rem;
    }
  }

  h3 {
    text-align: center;
    color: $negro;
    font-size: 2rem;
    font-weight: bold;
    font-family: $Fuente_Principal;
    margin: 0;

    @include laptop {
      font-size: 5rem;
    }
  }

  p {
    text-align: center;
    color: black;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;

    @include laptop {
      font-size: 1.8rem;
      max-width: 1200px;
    }
  }
}

.ProyectColumn {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include laptop {
    grid-template-columns: repeat(3, 1fr);
  }

  .Project {
    width: 95%;
    margin: 0.5rem;
    border: rgb(90, 90, 90) solid 2px;

    .ImageContainer {
      position: relative;
      overflow: hidden;
      height: 300px;

      img {
        width: 100%;
        height: 100%;
        border-bottom: rgb(90, 90, 90) solid 4px;
        transition: opacity 1s ease;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
      }

      .HoverImage {
        opacity: 0; // Oculta la imagen de hover inicialmente
      }

      &:hover .MainImage {
        opacity: 0; // Oculta la imagen principal en hover
      }

      &:hover .HoverImage {
        opacity: 1; // Muestra la imagen de hover en hover
      }
    }

    /* Read more/Hide function */
    .description {
      text-align: start;
      color: black;
      display: block;
      max-height: 9em;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: max-height 0.5s ease;
    }

    .description.expanded {
      max-height: 1000px;
      transition: max-height 0.5s ease;
    }

    .toggle {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
      border-radius: 1vh;
      margin-top: 0.2rem;
      font-size: 1rem;
      font-family: Arial, Helvetica, sans-serif;
      transition: 1s;
      margin-left: 0.5rem;
    }

    .toggle:hover {
      background-color: #0056b3;
    }

    .TechnologiesUsed {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      @include tablet {
        grid-template-columns: repeat(4, 1fr);
      }

      div {
        margin: 0.2rem;
        padding: 0.2rem;
        svg {
          width: 75px;
          height: 75px;
          margin: 0 auto;
          display: block;
        }

        .JsonColor {
          width: 75px;
          height: 75px;
          margin: 0 auto;
          display: block;
          fill: #000;
        }

        p {
          text-align: center;
          color: $blanco;
        }
      }
      a {
        grid-column: span 2;
        @include tablet {
          grid-column: span 4;
        }
      }
    }

    // Button
    .buttonContainer {
      display: block;
      text-decoration: none;
    }

    .button {
      display: flex;
    }

    .box {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      font-weight: 700;
      color: #fff;
      transition: all 0.8s;
      cursor: pointer;
      position: relative;
      background: $Blue;
      overflow: hidden;
    }

    .box:before {
      content: "P";
      position: absolute;
      top: 0;
      background: #0f0f0f;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(100%);
      transition: transform 0.5s;
    }

    .box:nth-child(2)::before {
      transform: translateY(-100%);
      content: "R";
    }

    .box:nth-child(3)::before {
      content: "O";
    }

    .box:nth-child(4)::before {
      transform: translateY(-100%);
      content: "Y";
    }

    .box:nth-child(5)::before {
      content: "E";
    }

    .box:nth-child(6)::before {
      transform: translateY(-100%);
      content: "C";
    }

    .box:nth-child(7)::before {
      content: "T";
    }

    .box:nth-child(8)::before {
      transform: translateY(-100%);
      content: "O";
    }
    .box:nth-child(9)::before {
      content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='%23ffffff' d='M6.30147 15.5771C4.77832 14.2684 3.6904 12.7726 3.18002 12C3.6904 11.2274 4.77832 9.73158 6.30147 8.42294C7.87402 7.07185 9.81574 6 12 6C14.1843 6 16.1261 7.07185 17.6986 8.42294C19.2218 9.73158 20.3097 11.2274 20.8201 12C20.3097 12.7726 19.2218 14.2684 17.6986 15.5771C16.1261 16.9282 14.1843 18 12 18C9.81574 18 7.87402 16.9282 6.30147 15.5771ZM12 4C9.14754 4 6.75717 5.39462 4.99812 6.90595C3.23268 8.42276 2.00757 10.1376 1.46387 10.9698C1.05306 11.5985 1.05306 12.4015 1.46387 13.0302C2.00757 13.8624 3.23268 15.5772 4.99812 17.0941C6.75717 18.6054 9.14754 20 12 20C14.8525 20 17.2429 18.6054 19.002 17.0941C20.7674 15.5772 21.9925 13.8624 22.5362 13.0302C22.947 12.4015 22.947 11.5985 22.5362 10.9698C21.9925 10.1376 20.7674 8.42276 19.002 6.90595C17.2429 5.39462 14.8525 4 12 4ZM10 12C10 10.8954 10.8955 10 12 10C13.1046 10 14 10.8954 14 12C14 13.1046 13.1046 14 12 14C10.8955 14 10 13.1046 10 12ZM12 8C9.7909 8 8.00004 9.79086 8.00004 12C8.00004 14.2091 9.7909 16 12 16C14.2092 16 16 14.2091 16 12C16 9.79086 14.2092 8 12 8Z'/></svg>");
    }

    .button:hover .box:before {
      transform: translateY(0);
    }
  }
}
