.HomeInfo {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 2rem;
  justify-content: center;
  align-items: center;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  .Image {
    width: 100%;
    height: auto;
  }

  .Me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h2 {
      text-align: center;
      color: $BlackBlue;
      font-size: 2rem;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;

      @include desktop {
        font-size: 3rem;
      }
    }

    h1 {
      color: $Blue;
      font-size: 4rem;
      font-weight: bold;
      font-family: $Fuente_Principal;
      margin: 1rem 0 0.5rem 0;
      line-height: 0.5;
      @include tablet {
        font-size: 5rem;
      }

      @include desktop {
        font-size: 7.5rem;
      }
    }

    p {
      text-align: center;
      color: $negro;
      font-size: 1rem;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0rem;

      @include desktop {
        font-size: 2rem;
      }
    }

    .Profileicons {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      justify-content: center;
      align-items: center;

      a {
        grid-column: span 3;
        .CVbutton {
          justify-content: center;
          width: 95%;
          text-align: center;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
          color: $blanco;
          background-color: $Blue;
          border-radius: 2vh;
          border: none;
          padding: 1rem;
          margin-bottom: 1rem;
          transition: 1s;
          cursor: pointer;
          &:hover {
            background-color: darken($Blue, 20%);
          }
        }
      }
      .GitHub {
        svg {
          width: 50px; 
          height: 50px;
          fill: #000;
          stroke: #000; 
          cursor: pointer;
          transition: fill 1s ease, stroke 1s ease; 
          &:hover {
            fill: #000;
          stroke: #000; 
          }
        }
      }

      .Linkedin {
        svg {
          width: 50px; 
          height: 50px; 
          fill: black; 
          cursor: pointer;
          transition: fill 1s ease, stroke 1s ease; 
          &:hover {
            fill: #0077b5; 
          }
        }
      }

      .Gmail {
        svg {
          width: 50px; 
          height: 50px; 
          cursor: pointer;
          transition: fill 1s ease, stroke 1s ease; 
        }
      }
      
      h2 {
        text-align: center;
        color: $BlackBlue;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
  
        @include desktop {
          font-size: 2rem;
        }
      }
    }
  }
}
