---
import "../styles/global.css";

import SVGdatabases from "../../assets/svg/Database";
import SVGresponsive from "../../assets/svg/responsive";
import SVGhttp from "../../assets/svg/http";
---

<div id="page-6" class="grid grid-cols-1 gap-4">
  <h2 class="text-2xl font-bold text-center md:text-4xl">
    Prácticas de desarrollo
  </h2>

  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    <div
      class="flex flex-col items-center justify-center h-auto gap-4 p-4 text-center shadow-xl bg-slate-100 dark:bg-neutral-800 dark:shadow-neutral-700/40"
    >
      <div
        class="flex flex-col items-center justify-center w-20 h-20 p-3 bg-teal-300 rounded-full"
      >
        <SVGdatabases />
      </div>
      <h1 class="font-bold">
        Diseño y modelado de bases de datos relacionales
      </h1>
    </div>

    <div
      class="flex flex-col items-center justify-center h-auto gap-4 p-4 text-center shadow-xl bg-slate-100 dark:bg-neutral-800 dark:shadow-neutral-700/40"
    >
      <div
        class="flex flex-col items-center justify-center w-20 h-20 p-4 rounded-full bg-sky-300"
      >
        <SVGresponsive />
      </div>
      <h1 class="font-bold">Diseño Responsive</h1>
    </div>

    <div
      class="flex flex-col items-center justify-center h-auto gap-4 p-4 text-center shadow-xl bg-slate-100 dark:bg-neutral-800 dark:shadow-neutral-700/40"
    >
      <div
        class="flex flex-col items-center justify-center w-20 h-20 p-3 rounded-full bg-slate-800"
      >
        <img src="/public/img/MVC.webp" alt="MVC" class="invert" />
      </div>
      <h1 class="font-bold">MVC (Model-View-Controller)</h1>
    </div>

    <div
      class="flex flex-col items-center justify-center h-auto gap-4 p-4 text-center shadow-xl bg-slate-100 dark:bg-neutral-800 dark:shadow-neutral-700/40"
    >
      <div
        class="flex flex-col items-center justify-center w-20 h-20 p-4 bg-blue-300 rounded-full"
      >
        <img src="/public/img/crud.webp" alt="crud" class="invert" />
      </div>
      <h1 class="font-bold">CRUD (Create, Read, Update, Delete)</h1>
    </div>

    <div
      class="flex flex-col items-center justify-center h-auto gap-4 p-4 text-center shadow-xl bg-slate-100 dark:bg-neutral-800 dark:shadow-neutral-700/40"
    >
      <div
        class="flex flex-col items-center justify-center w-20 h-20 p-3 rounded-full bg-neutral-700"
      >
        <SVGhttp />
      </div>
      <h1 class="font-bold">RESTful APIs</h1>
    </div>
  </div>
</div>
