---
import "../styles/global.css";
---

<footer class="w-full p-6 text-white bg-black">
  <div class="max-w-6xl mx-auto">
    <p class="mb-4 text-lg leading-relaxed">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
      consequatur, dolores perferendis voluptas vel modi officia dolor ratione,
      itaque voluptatibus accusantium delectus voluptatem assumenda fugit
      expedita sit. Distinctio, est vel.
    </p>
  </div>
</footer>
