---
import DarkMode from "../component/ui/DarkMode.jsx";
import Link from "../assets/svg/Link.astro";
import Linkedin from "../assets/svg/Linkedin.astro";
import GitHub from "../assets/svg/GitHub.astro";
import Gmail from "../assets/svg/Gmail.astro";
import FrontEnd from "../assets/svg/FrontEnd";
import BackEnd from "../assets/svg/BackEnd";
import FullStack from "../assets/svg/FullStack.astro";
import Modal from "../component/ui/Modal";
---

<div
  class="flex flex-col items-start justify-between w-full h-auto gap-4 p-4 pb-2 border-b-2 border-gray-400"
>
  <div
    class="flex flex-row items-center w-full justify-between max-w-[80rem] m-auto gap-4"
  >
    <div class="flex flex-row items-center justify-center gap-2">
      <img
        src="/img/ImgFirstSection.webp"
        alt="ImgFirstSection"
        class="w-16 h-auto"
      />
      <h1 class="text-2xl font-bold text-blue-500">Fernando Mejía</h1>
    </div>
    <DarkMode client:load />
  </div>

  <p class="flex md:hidden">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, sequi
    deserunt ipsum provident minus cumque quisquam vitae perspiciatis eveniet
    commodi nostrum animi, error necessitatibus molestiae nesciunt harum
    exercitationem numquam mollitia.
  </p>

  <div class="flex flex-row gap-2 md:hidden">
    <Link />
    <p class="font-bold text-blue-400">fercode.netlify.app/</p>
  </div>

  <div
    class="flex flex-wrap gap-4 items-start justify-between text-gray-500 max-w-[60rem] md:hidden"
  >
    <div
      class="flex flex-row gap-2 transition-all duration-700 ease-out cursor-pointer hover:text-blue-400"
    >
      <div class="w-5 h-auto">
        <FrontEnd />
      </div>
      <p class="">FrontEnd</p>
    </div>
    <div
      class="flex flex-row gap-2 transition-all duration-700 ease-out cursor-pointer hover:text-blue-400"
    >
      <div class="w-5 h-auto">
        <BackEnd client:load />
      </div>
      <p class="">BackEnd</p>
    </div>
    <div
      class="flex flex-row gap-2 transition-all duration-700 ease-out cursor-pointer hover:text-blue-400"
    >
      <FullStack />
      <p class="">Full-Stack</p>
    </div>
  </div>

  <div class="flex flex-wrap gap-2 items-start justify-between max-w-[60rem]">
    <a
      href="https://www.linkedin.com/in/fernando-mej%C3%ADa-866a4b363"
      target="_blank"
      rel="noopener noreferrer"
    >
      <button
        class="flex flex-row gap-2 p-2 transition-all duration-700 ease-out bg-transparent rounded-lg cursor-pointer cursor hover:bg-slate-300 dark:hover:bg-slate-800"
      >
        <Linkedin />
        <p class="">linkedin</p>
      </button>
    </a>

    <a
      href="https://github.com/FernadoCodeDev"
      target="_blank"
      rel="noopener noreferrer"
    >
      <button
        class="flex flex-row gap-2 p-2 transition-all duration-700 ease-out bg-transparent rounded-lg cursor-pointer cursor hover:bg-slate-300 dark:hover:bg-slate-800"
      >
        <GitHub />
        <p class="">GitHub</p>
      </button>
    </a>

    <Modal client:load />

    <a
      href="mailto:fernando.e.mejia.e@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
    >
      <button
        class="flex flex-row gap-2 p-2 transition-all duration-700 ease-out bg-transparent rounded-lg cursor-pointer cursor hover:bg-slate-300 dark:hover:bg-slate-800"
      >
        <Gmail />
        <p class="">Gmail</p>
      </button>
    </a>
  </div>
</div>
